{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid" style="
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
">
  <div class="container">
    <h1 class="display-4">Welcome {% if app.user %}{{ app.user.username }}{% else %}Annonymous Soul{% endif %}</h1>
    <p class="lead">{% if app.user %}{% else %}Please register and make your account, it's completely free :){% endif %}</p>
  </div>
</div>

{% endblock %}
