{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alert alert-success" role="alert" 
    style=" margin-top: center;
    width: 542px;
    margin-left: 30%;
    margin-top: 20%;
    top: auto;">
    {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
    </div>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
